
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.max-w-xs {
    max-width: 20rem;
}

.max-w-lg {
    max-width: 32rem;
}


.text-xs {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-base {
    font-size: 16px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-2xl {
    font-size: 24px;
}

.text-3xl {
    font-size: 30px;
}

.text-4xl {
    font-size: 36px;
}

.text-5xl {
    font-size: 48px;
}

.text-6xl {
    font-size: 64px;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}


.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-4 {
    gap: 16px;
}

.gap-6 {
    gap: 24px;
}

.gap-8 {
    gap: 32px;
}

.gap-10 {
    gap: 40px;
}

.gap-12 {
    gap: 48px;
}

.gap-16 {
    gap: 64px;
}

.gap-20 {
    gap: 80px;
}

.p-10 {
    padding: 10px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-4 {
    padding-top: 16px;
}

.pt-6 {
    padding-top: 24px;
}

.pt-8 {
    padding-top: 32px;
}

.pt-10 {
    padding-top: 40px;
}

.pt-12 {
    padding-top: 48px;
}

.pt-16 {
    padding-top: 64px;
}

.pt-20 {
    padding-top: 80px;
}

.pt-24 {
    padding-top: 96px;
}

.pt-28 {
    padding-top: 112px;
}

.pr-2 {
    padding-right: 8px;
}

.pr-4 {
    padding-right: 16px;
}

.pr-6 {
    padding-right: 24px;
}

.pr-8 {
    padding-right: 32px;
}

.pr-12 {
    padding-right: 48px;
}

.pr-16 {
    padding-right: 64px;
}

.pr-20 {
    padding-right: 80px;
}

.pr-24 {
    padding-right: 96px;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-4 {
    padding-bottom: 16px;
}

.pb-6 {
    padding-bottom: 24px;
}

.pb-8 {
    padding-bottom: 32px;
}

.pb-12 {
    padding-bottom: 48px;
}

.pb-16 {
    padding-bottom: 64px;
}

.pb-20 {
    padding-bottom: 80px;
}

.pb-24 {
    padding-bottom: 96px;
}

.pb-28 {
    padding-bottom: 112px;
}

.pl-2 {
    padding-left: 8px;
}

.pl-4 {
    padding-left: 16px;
}

.pl-6 {
    padding-left: 24px;
}

.pl-8 {
    padding-left: 32px;
}

.pl-12 {
    padding-left: 48px;
}

.pl-16 {
    padding-left: 64px;
}

.pl-20 {
    padding-left: 80px;
}

.pl-24 {
    padding-left: 96px;
}


a, ul, li {
    text-decoration: none;
    list-style-type: none;  
}


.w-half {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-full {
    width: 100%;
}

.h-full-vh {
    height: 100vh;
}

.h-90-vh {
    height: 90vh;
}

button {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


.round-corner {
    border-radius: 10px;
}

.ten-percent {
    padding-right: 10%;
    padding-left: 10%;
}

.cursor {
    cursor: pointer;
}