/* color palette */
:root {
    --primary-color: #ffebd8;
    --secondary-color: #734E40;
    --tertiary-color: #592D1D;

    --black-title: #1b1b1b;
    --black-text: #333;
    --white-title: #f9f9f9;
    --white-text: #e2e2e2;
    --extra-light: #d2c6bb;

    --light-bg: var(--primary-color);
    --dark-bg: var(--tertiary-color);
}

/* font family */
:root {
    --primary-font: "lora", serif;
    --secondary-font: "nimbus-sans", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* body style */
body {
    font-weight: 400;
    font-style: normal;
    background-color: var(--light-bg);
    line-height: 1.6;
    margin: 0 auto;
}


.container {
    --bs-gutter-x: 2.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.container-footer {
    padding-top: 40px;
}

.container, .container-smaller {
    margin-bottom: 40px;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container-md, .container {
    max-width: 768px;
    margin-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container {
    max-width: 992px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container {
    max-width: 1400px;
  }
}

@media print, screen and (min-width: 576px) {
    .container-smaller {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

@media (min-width: 768px) {
    .container-smaller {
        padding-right: 10vw;
        padding-left: 10vw;
        margin-bottom: 80px;
    }
}

@media (min-width: 992px) {
  .container-smaller {
    margin-bottom: 100px;
  }
}


/* header + footer */
.container-header {
  --bs-gutter-x: 2.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-header {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container-header {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container-header {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container-header {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container-header {
    max-width: 1400px;
  }
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    color: var(--black-title);
    line-height: 1.1;
    letter-spacing: 0.05em;
    margin-bottom: 8px;
    text-wrap: balance;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: 32px;
    margin-bottom: 18px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-weight: 300;
    letter-spacing: -0.025em;
    font-weight: 400;
    line-height: 1.4;
}

a, ul, li {
    text-decoration: none;
    list-style-type: none;  
}


.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.primary-font {
    font-family: var(--primary-font);
}

.secondary-font {
    font-family: var(--secondary-font);
}

button {
    cursor: pointer;
}

.round-corner {
    border-radius: 10px !important;
}

.round-corner-right {
    border-radius: 0 10px 10px 0 !important;
}


tr:hover {
    background-color: transparent !important;
}

.etna {
    font-family: 'Etna', sans-serif;
}


.light-bg {
    background-color: var(--light-bg);
}

.dark-bg {
    background-color: var(--dark-bg);
}

.white-headline {
    color: var(--white-title);
}

.white-text {
    color: var(--white-text);
}

.black-headline {
    color: var(--black-title);
}

.black-text {
    color: var(--black-text);
}

.extra-light {
    color: var(--extra-light);
}


/* button style */
.btn-one {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 8px 20px;
    font-family: var(--primary-font);
    font-size: 13px;
    color: var(--black-title);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.btn-one:hover {
    background-color: var(--white-text);
}

.btn-two {
    border-radius: 10px;
    padding: 8px 20px;
    font-family: var(--primary-font);
    font-size: 13px;
    color: var(--white-title);
    background-color: var(--black-text) !important;
    cursor: pointer;
    border: 0;
    transition: 0.3s;
}

.btn-two:hover {
    background-color: var(--black-title) !important;
}