@media only screen and (max-width: 992px) {
    .hero-content h1 {
        max-width: 500px;
    }

    .hero-content p {
        max-width: 450px;
    }

    /* footer */
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    /* hero collage */
    .row {
        flex-direction: column;
    }

    .column {
        flex: none;
        width: 100%;
    }

    /* grids */
    .grid-cols-2, .grid-cols-3 {
        grid-template-columns: 1fr !important;
    }

    /* about page */
    .company-stats  {
        flex-direction: column;
        gap: 24px;
    }

    /* payment */
    .payment-content-container {
        flex-direction: column;
        gap: 24px;
    }

    .collage-container .row-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .collage-3, .collage-4 {
        display: none;
    }

    .movie-detail-img {
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .glass-overlay {
        width: 80%;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        padding-top: 4px;
        flex-wrap: wrap;
        gap: 14px !important;
    }

    .logo {
        text-align: center;
    }

        /* highlighted movie */
    .highlight-movie-img {
        justify-content: flex-start !important;
    }

    .highlight-text {
        padding-top: 40px;
    }

    .highlight-movie-section::before {
        border-radius: 0 !important;
    }

    .highlight-movie {
        margin-bottom: 100px !important;
    }

    .news-details-container {
        flex-direction: column;
        gap: 40px;
    }

    .movie-page-text {
        min-height: 320px;
        padding-top: 16px;
        padding-bottom: 16px;
    }   

    .swiper-movies .swiper-slide img {
        height: 250px;
    }

    .full-width-container {
        margin-bottom: 80px;
    }
}

@media (max-width: 576px) {
    .glass-overlay {
        width: 100%;
    }

}
