@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');


/* color palette */
:root {
    /* --primary-color: #2B2254;
    --secondary-color: #D4C5FF;
    --tertiary-color: #F3F3E7; */
    /* --primary-color: #A6CFE2; */
    --primary-color: #A6CFE2;
    --secondary-color: #F4F4E1;
    --tertiary-color: #1c244d;

    --black-title: #1b1b1b;
    --black-text: #333;
    --white-title: #f9f9f9;
    --white-text: #f1f1f1;
}

/* font family */
:root {
    --primary-font: 'Comic Neue', sans-serif;
    --secondary-font: "lora", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* body style */
body {
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-color);
    line-height: 1.6;
}


/* button style */
.btn-one {
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 10px 20px;
    font-family: var(--primary-font);
    font-size: 13px;
    color: var(--black-title);
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: 0.3s;
}

.btn-one {
    background-color: var(--white-title);
}

.btn-two {
    border-radius: 20px;
    padding: 10px 20px;
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--white-title);
    background-color: var(--black-text) !important;
    cursor: pointer;
    border: 0;
    transition: 0.3s;
}

.btn-two:hover {
    background-color: var(--black-title) !important;
}



/* text style */
h1 {
    font-family: var(--primary-font);
    font-size: 30px;
    font-weight: bold;
    color: var(--black-title);
}

h2 {
    font-family: var(--primary-font);
    font-size: 26px;
    font-weight: bold;
    color: var(--black-title);
}

h3 {
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: bold;
    color: var(--black-title);
}

h4 {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: bold;
    color: var(--black-title);
}

h5 {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: bold;
    color: var(--black-title);
}

p {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: normal;
    color: var(--black-text);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.primary-font {
    font-family: var(--primary-font);
}

.secondary-font {
    font-family: var(--secondary-font);
}




/* styles for pages */

/* all containers with 3 items */
.items {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,minmax(1px, 1fr));
    row-gap: 56px;
    column-gap: 16px;
}

.items-two-col {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,minmax(1px, 1fr));
    row-gap: 56px;
    column-gap: 16px;
}

.grid-50-50 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

/* style for a box with content inside */
.box {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 36px;
    width: 100%;
}

.contact-form input, .contact-form textarea {
    background-color: var(--white-title);
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    max-width: 100%;
    resize: none;
    font-family: var(--primary-font);
}

.contact {
    padding: 70px;
}


/* admin page */
.sidenav {
    width: 250px;
}
.dashboard-metrics {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.card {
    flex: 1;
    margin: 10px;
}


/* admin page */
.sidenav {
    width: 250px !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--secondary-color) !important;
}

.content-area {
    flex: 1 0 auto;
    margin-left: 250px;
    padding: 20px;
}

.category-section {
    display: none;
}

.category-section .card {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.contact-left-img {
    background-image: url('../img/about-ghiblifilms.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}


/* about */
.about-container{
    background-image: url('../img/about-us-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


/* footer */
.footer {
    background-color: var(--secondary-color);
    padding: 2rem 1rem;
    font-size: 15px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.footer-left h3 {
    font-family: "etna", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.footer h5 {
    font-size: 1.2rem; 
    margin-bottom: 0.5rem;
}

.footer p {
    margin: 0.2rem 0;
    font-size: 13px;
    color: #5f5f5f; 
}

.footer-link {
    color: var(--black-text); 
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 1.5rem;
    border-top: 1px solid #6e6e6e; 
    padding-top: 1rem;
}

/* hr */
.dark-hr {
    border: 0;
    height: 1px;
    background-color: #8b95a2;
}